body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    /* Set the background image, centered, and covering the whole page */
    background: url('images/olives.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
}

body::before {
    /* Create a pseudo-element to serve as the overlay */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Ensure the overlay is behind the content */
}

.container {
    position: relative;
    z-index: 1;
    margin: 20px;
    margin-top: 150px;
}

.index-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.3; /* Adjusted for better visibility */
    filter: grayscale(5%); /* Grayscale for stylistic effect */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.promo-banner {
    overflow: hidden;
    white-space: nowrap;
    background-color: #556139;
    color: #e2e5d8;

}

.marquee {
    display: inline-block;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(100%); }
    to { transform: translateX(-100%); }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e2e5d8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px 20px;
}

.nav-left, .nav-right, .nav-center {
    display: flex;
    flex: 1; /* This allows each section to grow */
    justify-content: center; /* Center the content of each section */
    align-items: center;
}

.navbar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #556139;
    font-size: 20px;
}

.navbar .current-page{
    text-decoration: underline #556139;
}

.nav-center .logo {
    font-family: 'Brush Script MT', cursive;
    font-size: 60px;
}

.story-item {
    display: flex; /* Enables flexbox */
    align-items: flex-start; /* Aligns items to the top */
    justify-content: flex-start; /* Aligns items to the start of the flex container */
    margin: 20px 0; /* Adds some margin around the story items */
}

.story-image, .story-text {
    height: auto; /* Allows the divs to grow as tall as their content */
    display: flex; /* Enables flexbox for centering content */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
}

.story-image img {
    width: 100%; /* Ensures the image fills its container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block;
}

.story-image {
    flex: 0 0 40%; /* Assigns 40% of the .story-item width to the .story-image */
}

.story-text {
    background-color: beige; /* Your desired background color */
    padding: 50px; /* Adds some padding inside the text box */
    border-radius: 20px;
    width: 60%; /* Text takes up the remaining 60% of the width */
    display: flex; /* Use flex to center the text vertically and horizontally */
    align-self: center;
    align-items: center; /* Align the text vertically */
    justify-content: center; /* Align the text horizontally */
    margin-left: 20px; /* Adds some space between the image and the text box */
    overflow: hidden;
    font-size: 1.5em;
    line-height: 1.6;
}


.bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* creates two columns with equal width */
    gap: 20px; /* space between the columns */
    margin: 20px 0;
}

.bio-item {
    display: flex;
    flex-direction: column; /* stack items vertically */
    align-items: center; /* center items horizontally */
    padding: 20px;
}

.bio-item img {
    width: 400px; 
    height: 400px; 
    border-radius: 50%; /* this makes the square a circle */
    object-fit: cover; /* ensures the image covers the area without stretching */
    border: 3px solid #fff; /* optional: adds a border around the image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* optional: adds a shadow for depth */
    margin-bottom: 20px; /* adds space between the image and the text below */
}

.bio-text h2 {
    color: #333;
    background-color: beige;
    padding: 20px;
    border-radius: 20px;
    width: 100%; /* full width of the column */
    text-align: center;
    margin-top: 20px; /* adds space above the h2 element */
    box-sizing: border-box; /* ensures padding doesn't add to the width */
}

.bio-text p {
    line-height: 1.6;
    text-align: center; /* centers the text */
    padding: 0 20px; /* adds padding on the sides */
    background-color: beige;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;

}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
    grid-gap: 20px;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.product-image {
    position: relative;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 400px;
    transition: filter 0.3s ease;
}

.product-image:hover img {
    filter: grayscale(100%);
}

.product-description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); /* semi-transparent overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 10px;
    text-align: center;
}

.product-image:hover .product-description {
    opacity: 1;
}

.product-info {
    padding: 10px;
    text-align: center;
}

.price {
    font-size: 1.5em;
    color: #333;
}

.add-to-cart {
    background-color: #556139;
    color: beige;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart:hover {
    background-color: #45a049;
}

.recipes-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 20px;
    padding: 20px;
}

.recipe-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
}

.recipe-item:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Adds shadow on hover */
}

.recipe-item img {
    width: 100%;
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Ensures images cover the area */
    border-bottom: 1px solid #ddd; /* Separates image from text */
}

.recipe-item h2 {
    margin: 20px;
    color: #556139;
}

.recipe-item p {
    padding: 0 20px 20px;
    color: #666;
    line-height: 1.6;
}

.ingredients,
.instructions {
    margin: 20px;
    padding-left: 20px;
}

.ingredients li,
.instructions li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.instructions {
    list-style-type: decimal; /* ensures the instructions are numbered */
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .popup-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 400px;
    position: relative;
  }
  
  .popup-content h2 {
    color: #333;
  }
  
  .popup-content p {
    margin-bottom: 20px;
  }
  
  .popup-content form input[type=email] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .popup-content form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
  }
  

.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.social-media-links {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.social-media-item {
    text-align: center;
}

.social-media-item img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}

.social-media-item p {
    margin-top: 10px;
    cursor: pointer;
}

/* Email Subscription Popup Styles */
.popup-overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.close-popup {
    cursor: pointer;
}

.cart-container {
    text-align: center;
    padding: 50px 20px;
}

.cart-container h1 {
    margin-bottom: 30px;
}

.cart-empty-message {
    font-size: 1.2em;
    margin-bottom: 25px;
}

.shop-button {
    display: inline-block;
    background-color: #556139;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.shop-button:hover {
    background-color: #45a049;
}

.faq-container {
    width: 80%;
    margin: 150px auto;
    margin-top: 150px;
    padding: 20px;
    text-align: left;
    align-self: center;
    background-color: beige;
}

.faq-container h1 {
    text-align: center;
    margin-bottom: 40px;
}

.faq-container h2 {
    color:  #556139;
    margin-top: 30px;
}

.faq-container p {
    margin-bottom: 15px;
    line-height: 1.6;
}




/* Mobile view */
@media (max-width: 480px) {
    .navbar a {
        font-size: 16px;
        padding: 5px 10px;
    }

    .nav-center .logo {
        font-size:30px;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
    }

    .product-image img {
        width: 100%;
        height: 200px;
        transition: filter 0.3s ease;
    }

    .recipes-grid {
        grid-template-columns: 1fr; /* Stack on mobile */
    }

    .faq-container {
        max-width: 95%; /* Use almost the full width for mobile */
        margin-top: 50px; /* Even less top margin for smaller devices */
        padding: 10px; /* Less padding to accommodate the smaller view */
    }
}

/* Tablet view */
@media (max-width: 820px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-left, .nav-right, .nav-center {
        justify-content: space-around;
        width: 100%;
    }

    .nav-center .logo {
        font-size: 40px;
    }
    
    .products-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on tablet */
    }

    .product-image img {
        width: 100%;
        height: 200px;
        transition: filter 0.3s ease;
    }

    .recipes-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .faq-container {
        max-width: 90%; /* Slightly more width for tablets */
        margin-top: 150px; /* Less top margin for smaller devices */
    }
}